@charset "utf-8";
/* CSS Documents */
/*
    contents.css
	
	Fumiya Sakai(fumiyasac.com). 

	01: index

*/

/* ============================================================
01: index
============================================================ */
/* slider */
.backstretchTop{
width: 100%;
height: 145px;
display: block;
position: relative;
}

#topNews{
background:url(../images/common/bg_opacity_h30.png) repeat-x;
position: absolute;
top: 115px;
height: 30px;
width: 100%;
overflow: hidden;
}

#topNews p{
background:url(../images/common/slides_arrow.png)  no-repeat scroll 5px 50% / 10px 10px transparent;
font-size: 85%;
height: 30px;
line-height: 32px;
color: #ffffff;
padding-left: 20px;
}

#topNews p a{
color: #ffffff;
text-decoration: none;
}

/* ============================================================
02: contents
============================================================ */
/* image */
.backstretchContents1{
width: 100%;
height: 210px;
}